@import "https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&family=Raleway:wght@300&display=swap";
:root {
    --primary-color: 6, 0, 126;
    --secondary-color: 48, 151, 227;
    --panel-color: 236, 243, 245;
    --background-color: #2d7fd2;;
    --alpha: 0.5;
    --base-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0 !important;
}
.btn {

    padding: 12px !important;

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin:auto;
}
.btn:hover {
    transform: scale(0.95);
}
.login_container {
    width: 100vw;
    height: 100vh;

}

.login_container .container_img{
    display: none;
}
.login_container .wrapper_login {
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

.login_container .wrapper_login .container_img .logo {
    width: 400px;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50px;
    pointer-events: none;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.432));
}
.login_container .wrapper_login .container_img .wrapper_title {
    position: relative;
    color: #fff;
    z-index: 2;
    max-width: 80%;
}
.login_container .wrapper_login .container_img .wrapper_title .title,
.login_container .wrapper_login .container_img .wrapper_title .subtitle {
    display: block;
    text-align: left;
    font-family: "Poppins", sans-serif;
}
.login_container .wrapper_login .container_img .wrapper_title .title {
    margin-bottom: 0.7em;
    font-size: 35px;
    font-family: "Nunito", sans-serif;
}
.login_container .wrapper_login .container_img .wrapper_title .subtitle {
    font-size: 18px;
}
.login_container .wrapper_login .container_img .wrapper_title .desc {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 1em;
}
.login_container .wrapper_login .container_img .wrapper_title .btn_reg {
    margin-top: 4em;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.432));
    color: var(--base-color);
    width: 200px;
    border-radius: 20px;
    background-color: rgb(var(--secondary-color));
}

.login_container .wrapper_login .container_signin {
    padding: 20px;
    display: grid;
    align-items: center;
}
.login_container .wrapper_login .container_signin .logo {
    display: block;
    width: 150px;
    text-align: center;

    margin: 0 auto 50px auto;
}
.login_container .wrapper_login .container_signin .title {

    display: block;
    font-size: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: rgb(var(--secondary-color));
}
.login_container .wrapper_login .container_signin .subtitle {
    margin-top: 0.5em;
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 14px;
    display: block;
}
.login_container .wrapper_login .container_signin .wrapper_all_inputs {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_container
.wrapper_login
.container_signin
.wrapper_all_inputs
.wrapper_input {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
}
.login_container
.wrapper_login
.container_signin
.wrapper_all_inputs
.wrapper_input
.input {
    width: 100%;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: : --secondary-color;
    border: solid rgb(var(--secondary-color)) 2px;
    color: rgb(var(--secondary-color));
}
.login_container
.wrapper_login
.container_signin
.wrapper_all_inputs
.wrapper_input
.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(var(--primary-color));
}
.login_container
.wrapper_login
.container_signin
.wrapper_all_inputs
.wrapper_input
.icon_eye {
    position: absolute;
    left: unset;
    right: 10px !important;
}
.login_container .wrapper_login .container_signin .forgot_text {
    display: block;
    text-align: right;
    font-family: "Nunito", sans-serif;
    color: gray;
    font-size: 14px;
    margin-right: 5px;
    cursor: pointer;
}
.login_container .wrapper_login .container_signin .wrapper_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
}
.login_container .wrapper_login .container_signin .wrapper_buttons .btn_sign {
    border: none;
    outline: none;
    border: solid rgb(var(--secondary-color)) 2px;
    border-radius: 20px;
    color: rgb(var(--secondary-color));
    background-color: var(--base-color);
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}
.login_container
.wrapper_login
.container_signin
.wrapper_buttons
.btn_sign:hover {
    background-color: rgb(var(--secondary-color));
    color: var(--base-color);
}
.login_container
.wrapper_login
.container_signin
.wrapper_buttons
.btn_sign_reg {
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.233));
    color: var(--base-color);
    background-color: rgb(var(--secondary-color));
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-radius: 20px;
}

.container_registro,
.container_forgot_registro {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_registro .wapper_registro,
.container_forgot_registro .wapper_registro {
    width: 80%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 20px;
    padding: 2em;
    position: relative;
}
.container_registro .wapper_registro .logo,
.container_forgot_registro .wapper_registro .logo {
    width: 70px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.container_registro .wapper_registro .info_wrapper,
.container_forgot_registro .wapper_registro .info_wrapper {
    margin-top: 5em;
}
.container_registro .wapper_registro .info_wrapper .title,
.container_registro .wapper_registro .info_wrapper .subtitle,
.container_forgot_registro .wapper_registro .info_wrapper .title,
.container_forgot_registro .wapper_registro .info_wrapper .subtitle {
    display: block;
    text-align: center;
}
.container_registro .wapper_registro .info_wrapper .title,
.container_forgot_registro .wapper_registro .info_wrapper .title {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: rgb(var(--secondary-color));
}
.container_registro .wapper_registro .info_wrapper .subtitle,
.container_forgot_registro .wapper_registro .info_wrapper .subtitle {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    margin-top: 7px;
}
.container_registro .wapper_registro .wrapper_all_inputs,
.container_forgot_registro .wapper_registro .wrapper_all_inputs {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}
.container_registro .wapper_registro .wrapper_all_inputs .left,
.container_registro .wapper_registro .wrapper_all_inputs .right,
.container_forgot_registro .wapper_registro .wrapper_all_inputs .left,
.container_forgot_registro .wapper_registro .wrapper_all_inputs .right {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.container_registro .wapper_registro .wrapper_all_inputs .wrapper_input,
.container_forgot_registro .wapper_registro .wrapper_all_inputs .wrapper_input {
    width: 100%;
    position: relative;
}
.container_registro .wapper_registro .wrapper_all_inputs .wrapper_input .input,
.container_forgot_registro
.wapper_registro
.wrapper_all_inputs
.wrapper_input
.input {
    padding: 10px 35px;
    border: none;
    border: solid rgb(var(--secondary-color)) 1px;
    border-radius: 20px;
    color: rgb(var(--secondary-color));
    width: 100%;
}
.container_registro .wapper_registro .wrapper_all_inputs .wrapper_input .icon,
.container_forgot_registro
.wapper_registro
.wrapper_all_inputs
.wrapper_input
.icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.container_registro .wapper_registro .wrapper_all_inputs .icon,
.container_forgot_registro .wapper_registro .wrapper_all_inputs .icon {
    color: rgb(var(--secondary-color));
}
.container_registro .wapper_registro .wrapper_all_inputs .icon_eye,
.container_forgot_registro .wapper_registro .wrapper_all_inputs .icon_eye {
    position: absolute;
    top: 10px;
    color: rgb(var(--secondary-color));
    right: 10px !important;
}
.container_registro .wapper_registro .wrapper_button,
.container_forgot_registro .wapper_registro .wrapper_button {
    margin: 3em 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container_registro .wapper_registro .wrapper_button .btn_reg,
.container_forgot_registro .wapper_registro .wrapper_button .btn_reg {
    width: 88%;
    padding: 10px 30px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.199));
    border: none;
    outline: none;
    color: var(--base-color);
    background-color: rgb(var(--secondary-color));
}
.container_registro .wrapper_forgot,
.container_forgot_registro .wrapper_forgot {
    width: 400px;
}
.container_registro .wrapper_forgot .info_wrapper_forgot,
.container_forgot_registro .wrapper_forgot .info_wrapper_forgot {
    margin-top: 7em;
}
.container_registro .wrapper_forgot .wrapper_button .btn_reg,
.container_forgot_registro .wrapper_forgot .wrapper_button .btn_reg {
    width: 77%;
}

.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 100;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    z-index: 200;
}
.lds-heart div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgb(var(--secondary-color));
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: rgb(var(--secondary-color));
}
.lds-heart div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 1000px) {
    .wrapper_login {
        display: flex;


    }

    .login_container .wrapper_login .container_img{
        display:flex;

        width: 70%;
        align-items: center;
        position: relative;
    }
    .login_container .wrapper_login .container_img .fondo{
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
    .login_container .wrapper_login .container_img{
        display:flex;

        width: 70%;
        align-items: center;

    }

    .login_container .wrapper_login .container_img .info{

        margin: auto;
        display:flex;
        flex-direction: row;
    }
    .login_container .wrapper_login .container_img .fotoD{

        width: 300px;
       
        z-index: 100;
    }

    .login_container .wrapper_login .container_img .fotoD img{
        width: 100%;
        height: 100%;
    }


    .login_container .wrapper_login .container_signin{
        display:grid;
        align-items: center;

        width: 30%;

    }


    .login_container .wrapper_login .container_signin .contenedorIS{
        height: 500px;
    }

    .card {
        width: 300px;
        background: white;
        border-radius: 15px;
        box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);

        z-index: 100;
    }

    .header {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
    }

    .header::before {
        content: '';
        position: absolute;
        border-top: 30px solid transparent;
        border-left: 300px solid white;
        bottom: 0;
    }

    .header img {
        width: 100%;
        height: 199px;
    }

    .section {
        padding: 10px;
        overflow: hidden;
        text-align: center;
    }

    .section .h2 {
        margin: .5em 0;
        display: block;
    }

    .section .p {
        margin: 1em 0;
        display: block;
    }



    .footer {
        width: 100%;
        height: 80px;
        background: #314652;
        color: white;
        position: relative;
    }

    .footer::before {
        content: '';
        position: absolute;
        border-bottom: 30px solid transparent;
        border-right: 300px solid white;
        top: 0;
    }

    .footer .p {
        padding: 30px;
    }
}



body {
    font-family: 'Montserrat', sans-serif;
    background-color: #dbe2ef;
}

@media screen and (min-width: 1000px) {
    .card{
        width: 450px;
         
    }
    
    .footer::before {
        border-right: 450px solid white;
        
    }
    
    .header::before {

        border-left: 450px solid white;
       
    }
    
    .login_container .wrapper_login .container_img .fotoD{
        width: 350px;
       
        z-index: 100;
    }
}